.recently-purches-mobillecs-main-secxxtion .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
}
.recently-purches-mobillecs-main-secxxtion {
    margin-top: 10px;
}
.recently-purchessxc-main-boxxc {
    background: #fff;
    border-radius: 7px;
    padding: 4px;
    height: 160px;
    overflow: hidden;
}


.recentleu-marquesc-imgg-scrtn img {
    width: 100%;
    height: 60px;
}
.recently-purhcese-ttxtrt p {
    font-size: 11px;
    font-weight: 400;
}
.recently-purhcese-ttxtrt h3 {
    font-size: 12px;
    font-weight: 500;
    color: #f32828;
    margin-top: -14px;
}
.recently-purhcese-ttxtrt h4 {
    font-size: 11px;
    font-weight: 400;
    color: #6f6d6d;
    margin-top: -7px;
}
.recently-purchesxc-hedd-txt p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.recently-purchesxc-hedd-txt {
    margin-bottom: -7px;
}
