.super-deal-mobile-main-sectionx .container {
    width: 100%;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: auto;
    margin-left: auto;
}
.super-deal-mobile-main-sectionx {
    margin-top: 10px;
}
.super-deal-mobile-main-sec-bboxx {
    background: #fff;
    border-radius: 7px;
    padding: 4px;
}

/* hhhh */
.super-dealmmnnff-bb p {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.super-dealmmnnff-bb p {
    position: relative;
}
.super-dealmmnnff-bb a {
    position: absolute;
    right: 19px;
    top: 6px;
    font-size: 13px;
    color: #696969;
    font-weight: 400;
}
.super-dealmmnnff-bb a i.fa {
    color: #545454;
    font-size: 12px;
}
/* hhhh */

.row.super-delproj-rww .col-4 {padding: 1.8px;}

.row.super-delproj-rww {
    margin: 0;
    margin-top: -10px;
}

.super-deal-mobile-cattfg-box {
    height: 175px;
    border-radius: 4px;
}
.super-deal-mobile-cattfg-box {
    background-image: url(../../assets/slide1.jpg);
    width: 100%;
    height: 229px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.super-deal-mobile-cattfg-box-overlay {
    background-color: #ff0000;
    height: 100%;
    border-radius: 4px;
    opacity: .8;
    color: #fff;
}
.super-deal-mobile-cattfg-box-overlay p {
    z-index: 999;
    color: #fff;
}
.super-deal-mobile-snnggl-prodct {
    width: 100%;
    height: 113.5px;
    background-color: #F1F1F1;
    margin-bottom: 3px;
    border-radius: 4px;
}
.super-deal-mobile-snnggl-prodct-img img {
    width: 100%;
    height: 70px;
    padding: 3px;
    border-radius: 7px;
}
.super-deal-mobile-snnggl-prodct-ttxt p {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    color: #272727;
}

.super-deal-mobile-snnggl-prodct-ttxt h4 {
    font-size: 10px;
    font-weight: 600;
    color: #e42424;
    font-family: 'Montserrat', sans-serif;
    line-height: 1px;
    margin-top: -12px;
}
.super-ddll-ooffwr p {
    background: #e02a2a;
    width: 45px;
    color: #fff;
    font-weight: 600;
    padding: 1px;
    text-align: center;
    font-size: 9px;
    height: 13px;
    border-radius: 10px;
    line-height: 11px;
}
.super-deal-mobile-snnggl-prodct-ttxt {
    padding: 3px;
    margin-top: -5px;
}
.super-deal-mobile-cattfg-box-overlay-icon i.fa {
    color: #fff;
    font-size: 26px;
    margin-top: 30px;
}
.super-deal-mobile-cattfg-box-overlay-icon h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 23px;
}

/* TimeCount */
.super-ddcvl-tmmcnt-bbox-c.text-center span {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
}
.super-ddcvl-tmmcnt-bbox-c.text-center {
    margin-top: 20px;
}
/* TimeCount */